<a href="https://colab.research.google.com/github/agrawalharish1997/Gunviolance/blob/master/Gunviolance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd 
import numpy as np

In [0]:
data=pd.read_csv('GunviolenceSA.csv')
data.head(2)

  Incident Date  ...                                                URL
0     24-Jun-18  ...  http://www.gunviolencearchive.org/incident/114...
1     24-Jun-18  ...  http://www.gunviolencearchive.org/incident/114...

[2 rows x 10 columns]

In [0]:
jun=0
may=0

In [0]:
data['Incident Date']=pd.to_datetime(data['Incident Date'])
data['month']=data['Incident Date'].dt.month

In [0]:
for ind in data.index:
  if(data['month'][ind]==6):
    jun=jun+data['Killed'][ind]+data['Injured'][ind]
  else:
    may=may+data['Killed'][ind]+data['Injured'][ind]

In [0]:
print(may)
print(jun)

35
21

In [0]:
if(may>jun):
  print('Highest Killed and Injured occurin month may =',may)
else:
  print('Highest Killed and Injured occurin month jun =',jun)

Highest Killed and Injured occurin month may = 35